.candle {
  /* background: linear-gradient(90deg, #daa520 red); */
  background: linear-gradient(0deg, #daa52076, #daa520);
  border-radius: 1px 1px 0 0;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}

.candle:hover,
.currentCandle {
  background: linear-gradient(0deg, #da20ce76, #da3320);
}
.candleHour {
  position: relative;
  top: 15px;
  /* left: -8px; */
  font-size: 8px;

  /* border-left: 1px dotted grey; */
}
