.chartTypeBarContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.chart_header_module {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.chart {
  display: flex;
  height: 230px;
  align-items: flex-end;
  padding-top: 10px;
}

.yaxis_labels {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.yaxis_labels ul {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding-right: 6px;
}

.yaxis_labels ul li {
  height: 100%;
  display: flex;
}
.yaxis_labels ul li p {
  position: relative;
  font-size: 0.8em;
  top: -0.4em;
  opacity: 0.7;
}

.yaxis_labels ul li:last-child {
  height: 0;
}

.chart_container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.chart_back_layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200px;
  background-color: #171717;
}

.bars {
  height: 200px;
  display: flex;
  gap: 2px;
  position: relative;
  left: 0px;
  background-color: #171717;
}

.bars li {
  height: 100%;
  width: 6px;
  background-color: #1d1d1d;
  display: flex;
  align-items: flex-end;
}
.bars li:hover {
  background-color: #333333;
}
.bars li > .info{
  position: absolute;
  z-index: 500;
  top: 10px;
  /* left: 10px; */
  padding: 4px;
  display: none;
  white-space: nowrap;
}
.bars li:hover > .info{
  display: block;
  border-radius: 2px;
  background-color: rgb(81, 0, 128);
  
}
.bars li:hover div {
  background-color: #ffb300;
}
.bars li div.bar {
  border-radius: 1px 1px 0 0;
  width: 100%;
  background-color: #ffb30098;
  pointer-events: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.time_pointers {
  position: absolute;
  left: -2px;
  bottom: -4px;
  height: 4px;
  border-left: 2px solid #4e4e4e;
}
.time {
  position: absolute;
  bottom: -1.6em;
  left: 0;
  font-size: 0.8em;
  opacity: 0.7;
  user-select: none;
  user-select: none;
}
.day {
  position: absolute;
  bottom: -3.4em;
  left: 0;
  font-size: 0.8em;
  opacity: 0.7;
  user-select: none;
  white-space: nowrap;
  user-select: none;
  width: calc(576px + 95 * 2px);
  border-top-width: 2px;
  border-top-style: solid;
  padding-top: 2px;
}

.bars li.dimmed div {
  background-color: #ffb30057;
}

.lines {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.lines li {
  border-bottom: 1px dotted #4e4e4e;
  flex: 1;
}
.lines li:first-child {
  border-top: 1px dotted #4e4e4e;
}

.chart_view_options {
  display: flex;
  gap: 6px;
}
.chart_view_options > p {
  opacity: 0.7;
  text-decoration: underline;
}

.chart_view_options li {
  padding: 0 4px;
  display: flex;
  align-items: center;
}
.chart_view_options li p{
  text-align: center;
}

.chart_view_options li.selected {
  opacity: 0.8;
  background-color: aliceblue;
  color: #1d1d1d;
}
.chart_view_options li:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: aliceblue;
}
.chart_view_options li:hover p, .chart_view_options li.selected p {
  color: #1d1d1d;
  /* text-align: center; */
}

.chart_placeholder {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  cursor: auto;
}

.chart_placeholder p{
  width: 215px;
  text-align: center;
}
