.nav {
  display: flex;
  gap: 6px;
  margin-left: 20px;
}
.nav div {
  opacity: 0.8;
  padding: 4px 8px;
  border-radius: 8px 8px 0 0;
}
.nav div.active {
  opacity: 1;
  font-weight: bold;
  background-color: #191919;
}
.nav div:hover {
  opacity: 1;
  cursor: pointer;
}

.graph {
  /* height: 300px; */
  width: 100%;
  background-color: #191919;
  padding: 20px 0 0 0;
}
.y_axis_candle_container {
  display: grid;
  grid-template-columns: 20px 1fr;
}

.y_axis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  border: 1px solid gray;
}
.y_axis li {
  border-bottom: 1px dotted grey;
  align-self: center;
}

.data_series {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
